params {
	//Initial parameters
	pod5 = '/scicomp/groups/OID/NCEZID/DFWED/EDLB/projects/the-chunnel/mariana_pod5s/pod5_pass/' //'/scicomp/instruments/23-7-671_Nanopore-GridION-GXB03287/GXB03287-23-015/GXB03287-23-015/20230719_1536_X5_FAW51361_80321f3e/pod5_pass/'
	outdir ="/scicomp/home-pure/suj7/DoradoTest_v0.5.1" 
//'/scicomp/groups/OID/NCEZID/DFWED/EDLB/projects/the-chunnel/vasquez_samplesheet/Test_Output'
	
	//BASECALL_DORADO
	//MV: Added path to Dorado and Guppy
	dorado_gpu_folder = "/apps/x86_64/dorado/0.5.1/bin/"
	guppy_gpu_folder = "/apps/x86_64/guppy/6.4.6-gpu/bin/"
	dorado_model = 'dna_r10.4.1_e8.2_400bps_sup@v4.2.0'
	dorado_basecaller = 'dna_r10.4.1_e8.2_400bps_sup@v4.2.0'
	dorado_modified_bases = '5mC 6mA'
	dorado_device = 'cuda:0'
        batchsize=32 //EDIT AS NEEDED TO AVOID OOM ERRORS
}

process {
	//withName:BASECALL_DORADO {
		//container = 'docker://nanoporetech/dorado:sha1433bfc3146fd0dc94ad9648452364f2327cf1b0'
//	}
	withName:READSGET {
		container = 'docker://staphb/samtools:1.17'
	}
}

profiles {
	//standard for local
	standard {
		process {
			executor = 'local'
			cpus = 8
		}
		singularity {
			enabled = true
			autoMounts = true
			runOptions = '--cleanenv'
			runOptions = '--no-home'
			runOptions = "-B $PWD:/data"
			cacheDir = "/scicomp/scratch/suj7/singularity.cache" //"$SINGULARITY_CACHEDIR"
		}
	}
	//sge for CDC cluster
	 sge {
	   process {
		 executor = 'sge'
		 penv = 'smp'
		 queue = 'all.q'
		 cpus = 1
		 clusterOptions = { "-l GPU=1 -l gpucc=7" }
	   }
	   executor {
		 queueSize = 100
		 pollInterval = '15 sec'
	   }
	   singularity {
			enabled = true
			autoMounts = true
			runOptions = '--cleanenv'
			runOptions = '--no-home'
			runOptions = "-B $PWD:/data"
			runOptions = '--nv'
			cacheDir = "/scicomp/scratch/suj7/singularity.cache" //"$SINGULARITY_CACHEDIR"
	   }
	 }
	 //SHORT - add to profile if you want cluster short queue
	 short {
	   process {
		 queue = 'short.q'
	   }
	 }
	//GPU - add to profile if you want gpu queue
	 gpu {
	   process {
		 queue = 'gpu.q'
		 clusterOptions = { "-l gpu=1" } //MV: Addition by me
	   }
	 }
	//HIGHMEMORY - add to profile if you want highmem queue
	 highmem {
	   process {
		 queue = 'highmem.q'
	   }
	 }
}
